h1 {
  color: #588c7e;
  font-size:2.5rem;
  font-family: 'Josefin Slab', serif;
	padding: 15px;
	margin: 5px;
  text-align: center;
  border-radius: 3px;
}

.resume {
  display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
}

.intro {
  text-align: left;
}

img {
  border:0;
}

body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 80%;
    border: 1px;
    padding: 12px;
    background-color: #CBEDE9;
}
.first{
  text-align: center;
  font-size:2em;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #FE9920;
  width:100%;
  margin: 0 0 3px 0;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #FE9920;
}

* {
	box-sizing: border-box;
}

.container {
	padding: 10px;
  border-radius: 5px;
	margin: 45px auto;
}
.item {
	color: #000;
	padding: 15px;
	margin: 5px;
	background: #f1b82d;
	border-radius: 3px;
}

#navigation a:link, #navigation a:visited {
  display:block;
    color: #ffffff;
    font-weight: bold;
    background-color: #FE9920;
    width: 100%;
    text-align:center;
    text-decoration: none;
    padding: 3px;
    font-family:'Open Sans', sans-serif;
}


#navigation a:hover, #navigation a:active {
    background-color: #B26C17;
}

ul{
  display:block;
  text-decoration: none;
  list-style-type: none;
  color: #ffffff;
}
li {
	border-bottom: 4px solid #CBEDE9;
	text-align: center;
}

#footer {
  font-size:.8rem;
  text-align:center;
  background-color: #F06449;
  color:#ffffff;
}

.title {
  display: block;
margin-left: auto;
margin-right: auto;
width: 70%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


input[type=submit] {
    background-color: #0E242c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-family: "Open Sans", Helvetica, sans-serif;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #349eab;
}
.contact {
    border-radius: 5px;
    padding: 20px;
    color: #588c7e;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: .9em;
}
